doctype html
html
    head
        script(src="/js/jquery-1.11.0.min.js")
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        script(src="/bootstrap/js/bootstrap.min.js")
        block head
    body

    block header

    block content

    block footer
        //#debug debug info
            pre #{_debug}